<div id="<%= dom_id client %>" class="w-full sm:w-auto my-3">
  <div>
    <strong class="flex items-center font-medium mb-1"><%= client.name %></strong> 
  </div>
  <div>
    <strong class="flex items-center font-medium mb-1"><%= heroicon "envelope", variant: :outline, options: { class: "w-4 h-4 mr-1" }%> <%= client.email %></strong> 
  </div>
  <div>
    <strong class="flex items-center font-medium mb-1"><%= heroicon "phone", variant: :outline, options: { class: "w-4 h-4 mr-1" }%> <%= client.phone %></strong> 
  </div>
</div>
