<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Tailwind Sample" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header class="bg-cyan-500 fixed top-0 left-0 right-0 z-50 shadow">
    <nav class="container mx-auto px-5 py-3 flex justify-start items-center gap-4">
      <div class="text-white text-xl font-bold">
        <%= link_to "Tailwind Sample", root_path %>
      </div>
      <div class="space-x-4">
        <%= link_to "クライアント管理", clients_path, class: "text-white hover:text-blue-600" %>
      </div>
      <div class="space-x-4">
        <%= link_to "スタッフ管理", staffs_path, class: "text-white hover:text-blue-600" %>
      </div>
  </header>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
